BOT_TOKEN=YOUR_BOT_TOKEN

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=vpnbot
DB_USER=vpnbot_user
DB_PASSWORD=CHANGE_ME

SUPPORT_USERNAME=@your_support
ADMIN_ID=238425

WG_EASY_URL=http://YOUR_SERVER_IP:1240
WG_EASY_PASSWORD=CHANGE_ME

CONFIGS_DIR=/root/vpn-bot/configs
